[Unit]
Description=Gophish Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/gophish

User=gophish
Environment='STDOUT=/var/log/gophish/gophish.log'
Environment='STDERR=/var/log/gophish/gophish.log'
PIDFile=/var/run/gophish
ExecStart=/bin/sh -c "/opt/gophish/gophish >> ${STDOUT} 2>> ${STDERR}"

[Install]
WantedBy=multi-user.target
Alias=gophish.service